:root {
    font-family: "Open Sans", sans-serif;
    line-height: 22px;
}

img {
    border-radius: 28px; 
    width: 100%;
}

#page {width: 1120px;
    padding: 88px 80px;
border-radius: 28;
margin: 88px auto;
}

.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    text-align: center;
    color: #333333;
    margin-top: 24px;
  }

  .headline {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #e1624f;
    text-transform: uppercase;
  }